/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/.htaccess
public/phpliteadmin/*
!public/phpliteadmin/phpliteadmin.config.clqei.php
phpunit.xml
.DS_Store
/resources/lang/it/auth.php
/resources/lang/it/pagination.php
/resources/lang/it/passwords.php
/resources/lang/it/validation.php
