<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
    
        <env name="APP_ENV" value="testing"/>
        
        <!-- APP_URL cannot end with a subfolder -->
        <env name="APP_URL" value="http://localhost"/>
        
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        
        <!-- The following parameters must not be changed -->
        <env name="CLQEI_STUDENT_IDENTIFICATION_NUMBER_PATTERN" value="^\d{8}$"/>
        <env name="CLQEI_STUDENT_EMAIL_PATTERN" value="^[\w\.\-]+@example\.com$"/>
        <env name="SNEAKER_SILENT" value="true"/>
        
    </php>
</phpunit>
